@model SuperSuper.Models.Customer

@{
    ViewData["Title"] = "register";
}

<head>

   <script type="text/javascript" src="~/lib/JQuary.js"></script>

    <h1> Customer Registration</h1>

    @*<script>
            $(document).ready(function () {
                $("#register").click(function () {
                    $(".row .from-group .alert alert-success").hide();
                });
                $("#register").click(function () {
                    $(".row .from-group .alert alert-success").show();
                });
            });
        </script>*@

</head>

<body>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" required />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="confirmPassword" class="control-label"></label>
                        <input asp-for="confirmPassword" class="form-control" />
                        <span asp-validation-for="confirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <button id="register" onclick="alert('Welcome! We are glad you chose to be part of SuperSuper family');
                      location.href = '/Customers/login'">
                            <input type="submit" value="Register" class="btn btn-default" />
                        </button>
                    </div>

                </form>
            </div>
        </div>
</body>



        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }



