@{
    ViewData["Title"] = "Contact";
}

<img src="~/images/contact.png" alt="contact" width="500" height="250" />

<br></br>
<body>
    <p>
        Your opinion is important to us!
    </p>
    <p>
        Can’t find what you were looking for? We’re here to help
    </p>
    <p>
        Our customer service is available 24/7 at 1800-99-99-99
    </p>
    <p>
        Email : CustomerService@SuperSuper.com
    </p>
</body>
