@{
    ViewData["Title"] = "Home Page";
}



<marquee behavior="scroll" direction="up" style="height:200px;">מבצעי השבוע</marquee>



<section id="intro">
    <div>
        <div class="video-container">
            <div class="title-container">
                <div class="headline">
                    <h1>Welcome to Super-Super</h1>

                </div>
                <div class="description">
                    <div class="inner">

                        Super-Super is the leading retail chain in Israel.
                        Its goal is to provide a quality and varied response to all its customers, rewarding employment for its employees and fair conduct with its various suppliers.
                        Our company guarantees you the cheapest shopping basket you can get from a variety of famous companies in Israel.
                        The satisfaction of customers, employees and suppliers is one of the cornerstones on which the company is based.
                        The company's ongoing conduct is aimed at constantly improving this value.


                    </div>
                </div>
            </div>
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="~/images/videoplayback.mp4" type="video/webm">
            </video>

        </div>
    </div>



    </div>
