@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/vegetables.jpg" alt="welcome" class="img-responsive" />
            <div class="carousel-caption" role="option">

                <p>

                    <h1>
                        <b>
                            Welcome to Super-Super
                        </b>
                    </h1>


                </p>
                <p>
                    <b>
                        Super-Super is the leading retail chain in Israel. Its goal is to provide a quality and varied response to all its customers, rewarding employment for its employees and fair conduct with its various suppliers. Our company guarantees you the cheapest shopping basket you can get from a variety of famous companies in Israel. The satisfaction of customers, employees and suppliers is one of the cornerstones on which the company is based. The company's ongoing conduct is aimed at constantly improving this value.
                    </b>
                </p>
            </div>
        </div>



        <div class="row">




        </div>

      

    

      

    </div>
