@model IEnumerable<SuperSuper.Models.PurchesesView>

@{
    ViewData["Title"] = "My Basket";
}

<h2>@ViewData["Title"]</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<p>
    <a asp-action="Buy">Buy</a>
    <br>

</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchesDate)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
