
@{
    ViewData["Title"] = "Map";
}

<h2>Map</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <h3> Our stores</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  //var uluru = {lat: -25.344, lng: 131.036};
    var uluru1 = { lat: 32.087074, lng: 34.770491 };
    var uluru2 = { lat: 32.0300614, lng: 34.8002 };
    var uluru3 = { lat: 32.1670727, lng: 34.7973614 };
    var uluru4 = { lat: 31.969738, lng: 34.77278720000004 };
    var uluru5 = { lat: 32.030339, lng: 34.88709849999998 };
    var uluru6 = { lat: 32.321458, lng: 34.853196000000025 };
    var uluru7 = { lat: 31.817429, lng: 35.109406000000035 };
    var uluru8 = { lat: 31.890267, lng: 35.01039700000001 };
    var uluru9 = { lat: 31.877958, lng: 34.739449000000036 };


  // The map, centered at Uluru
  var map = new google.maps.Map(
        document.getElementById('map'), { zoom: 9, center: uluru1 });

  

  // The marker, positioned at Uluru
    var marker1 = new google.maps.Marker({ position: uluru1, map: map });
    var marker2 = new google.maps.Marker({ position: uluru2, map: map });
    var marker3 = new google.maps.Marker({ position: uluru3, map: map });
    var marker4 = new google.maps.Marker({ position: uluru4, map: map });
    var marker5 = new google.maps.Marker({ position: uluru5, map: map });
    var marker6 = new google.maps.Marker({ position: uluru6, map: map });
    var marker7 = new google.maps.Marker({ position: uluru7, map: map });
    var marker8 = new google.maps.Marker({ position: uluru8, map: map });
    var marker9 = new google.maps.Marker({ position: uluru9, map: map });

}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZn87I_EZmCJYBEDPwHTMwnBRrH2WH1Fo
&callback=initMap">
    </script>
</body>
</html>