@model SuperSuper.Models.Admin

@{
    ViewData["Title"] = "adminLogin";
}

<h1> Admin Login</h1>

<h6>
    <div>Dear employee</div>
    <div>For any problem, please contact SuperSuper IT</div>
</h6>


<body>
    <table class="table">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="adminLogin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <a href="/Admins/Index"><input type="submit" value="Log in" class="btn btn-default" /></a>
                    </div>
                </form>
            </div>
        </div>
    </table>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
