@model IEnumerable<SuperSuper.Models.Admin>

@{
    ViewData["Title"] = "Update Products";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="CreateProduct">Create New Product</a>
</p>

<p>
    <a asp-action="EditProduct">Edit Products</a>
</p>


<h2>Statistics</h2>


