@model IEnumerable<SuperSuper.Models.Admin>

@{
    ViewData["Title"] = "Update Products";
}

<h1>@ViewData["Title"]</h1>

<p>
    <br /><br />
    <button type="button" onclick="location.href='@Url.Action("CreateProduct", "Admins")'" class="btn btn-default"> Create product</button>

    <button type="button" onclick="location.href='@Url.Action("EditProduct", "Admins")'" class="btn btn-default"> Edit product</button>
    

    <h1>Statistics</h1>


